@import "tailwindcss";



:root {
  --color-cashia-white: #ffffff;
  --color-cashia-black: #0b0f19;
  --color-cashia-dark-gray: #4b5563;
}


:root {
  --background: #F8F9FA; /* Default to Cashia Off-White */
  --foreground: #121212; /* Default to Cashia Dusk Black */
}

@theme {
  /* Cashia Color Palette (Tailwind v4 Variable Mapping) */
  --color-cashia-red: #DC1F5C;
  --color-cashia-blue: #1E88E5;
  --color-cashia-black: #121212;
  --color-cashia-white: #F8F9FA;
  --color-cashia-orange: #FB8C00;
  --color-cashia-purple: #5E35B1;
  --color-cashia-pink: #FDB5C6;
   --color-cashia-lpink: #ffe4eb;
  --color-cashia-mid-gray: #808080;
  --color-cashia-dark-gray: #45556c;
  --color-cashia-blue: #62748e;
  --color-cashia-light-gray:#F5F5F5;
  /* Native System Mapping */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Custom Tailwind v4 Fonts */
  --font-inter: "Inter", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #F8F9FA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter); /* Uses Inter as default body font */
}

.chatbot-widget {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  left: auto;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
